<!DOCTYPE html>
<html>
    <head>
        <title>One hour file sharing</title>
         <meta name="viewport" content="width=device-width, initial-scale=1.0"/> 
        <link href="style.css" rel="stylesheet"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" 
                integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" 
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script>

            $(document).ready(function () {
                $("#fileUpload").submit(function (event) {
                    fetch("/", {
                        method: 'POST',
                        body: document.getElementById('file').files[0]
                    }).
                            then(r => r.text()).
                            then(t => { 
                                document.getElementById('result').textContent = t;
                        document.getElementById('responseParagraph').style.display = "block";
                    });
                    event.preventDefault();
                });

                $('#formUpload').submit(function (event) { 
                    fetch("/", {
                        method: 'POST',
                        body: document.getElementById('text').value
                    }).then(r => r.text()).then(t => { document.getElementById('result').textContent = t;
                        document.getElementById('responseParagraph').style.display = "block";
                    });
                    event.preventDefault();
                });

            });
        </script>
    </head>
    <body>
        <h1>One hour file sharing</h1>
        
        <p class="response" id="responseParagraph" style="display: none;">https://mwtj.com/<span 
                id="result">-</span></p>

        <h2>Upload a file</h2>

        <form id="fileUpload">
            <p>File: <input id="file" type="file" name="file"/>
                <input type="submit" value="upload"/>
        </form>

        <h2>Post text</h2>
        <form id="formUpload">
            <textarea id="text" spellcheck="false" rows="12"
                      style="font-family:monospace; width: 100%; box-sizing: border-box;"></textarea>
                      <p><input type="submit" value="upload"/></p>
        </form>
        
        <h2>Using curl</h2>
        
        <pre>curl --data 'a string' https://mwtj.com/
curl --data-binary @somefile https://mwtj.com/</pre>
        
    </body>
</html>
