<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>One hour file sharing</title>
         <meta name="viewport" content="width=device-width, initial-scale=1.0"/> 
        <link href="style.css" rel="stylesheet"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" 
                integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" 
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script>

            $(document).ready(function () {
                $("#fileUpload").submit(function (event) {
                    fetch("/", {
                        method: 'POST',
                        body: document.getElementById('file').files[0]
                    }).
                            then(r => r.text()).
                            then(t => { 
                                document.getElementById('result').textContent = t;
                        document.getElementById('responseParagraph').style.display = "block";
                    });
                    event.preventDefault();
                });

                $('#formUpload').submit(function (event) { 
                    fetch("/", {
                        method: 'POST',
                        body: document.getElementById('text').value
                    }).then(r => r.text()).then(t => { document.getElementById('result').textContent = t;
                        document.getElementById('responseParagraph').style.display = "block";
                    });
                    event.preventDefault();
                });
                
                $('#shareUrl').submit(function(event) { 
                    fetch("/url", { 
                        method: 'POST',
                        body: document.getElementById('url').value 
                    });
                });

            });
        </script>
    </head>
    <body>
        <h1>One hour file and link sharing</h1>
        
        <ul>
            <li>Share files and URLs over the phone by creating easy to read and type links</li>
            <li>Create safe links without trackers</li>
            <li>Easily transfer files and URLs from a phone to another device</li>
        </ul>
        
        <p class="response" id="responseParagraph" style="display: none;">https://mwtj.com/<span 
                id="result">-</span></p>

        <h2>Share a link (URL)</h2>
        <form action="link" method="post" id="shareUrl">
            <textarea name="s" spellcheck="false" rows="3"></textarea>
                      <p>create shared URL, removing all trackers and affiliates <input type="submit" value="share"/></p>
        </form>

        <hr/> 
        
        <h2>Upload a file</h2>

        <form id="fileUpload">
            <p>File: <input id="file" type="file" name="file"/>
                <input type="submit" value="upload"/></p>
        </form>
        
        <hr/> 
        
        <h2>Post text</h2>
        <form id="formUpload">
            <textarea id="text" spellcheck="false" rows="12"></textarea>
                      <p><input type="submit" value="upload"/></p>
        </form>
        
        <hr/>
        
        <h2>Share image</h2>
        <form id="imageUpload" th:action="image" enctype="multipart/form-data" method="post">
            <p>File: <input id="image" disabled="disabled" type="file" name="file"/>
                resize to: 
                <input type="radio" name="resize" checked="checked" value="1200"/> 1200
                <input type="radio" name="resize" value="800"/> 800
                <input type="radio" name="resize" value="600"/> 600

                rotate: <input type="radio" name="rotate" checked="checked" value="none"  disabled="disabled" /> none
                <input type="radio" name="rotate" value="90"  disabled="disabled" /> 90
                <input type="radio" name="rotate" value="180"  disabled="disabled" /> 180
                <input type="radio" name="rotate" value="270"  disabled="disabled" /> 270
                
                flip / mirror: <input type="radio" name="flipmirror" checked="checked" value="none"  disabled="disabled" /> none
                <input type="radio" name="flipmirror" value="flip"  disabled="disabled" /> flip
                <input type="radio" name="flipmirror" value="mirror" disabled="disabled" /> mirror
                
                <input type="checkbox" name="store" value="store"  disabled="disabled" /> long duration
                <input type="submit" value="upload"/>
            </p>
        </form>

        <hr/>
        
        <h2>Using curl</h2>
        
        <pre>curl --data 'a string' https://mwtj.com/
curl --data-binary @somefile https://mwtj.com/</pre>
        
    </body>
</html>
