<!DOCTYPE html>
<html>
    <head>
        <title>Upload a file</title>
        <link href="style.css" rel="stylesheet"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" 
                integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" 
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script>

            $(document).ready(function () {
                $("#fileUpload").submit(function (event) {
                    fetch("/", {
                        method: 'POST',
                        body: document.getElementById('file').files[0]
                    }).
                            then(r => r.text()).
                            then(t => document.getElementById('result').textContent = t);
                    event.preventDefault();
                });

                $('#formUpload').submit(function (event) { 
                    fetch("/", {
                        method: 'POST',
                        body: document.getElementById('text').value
                    }).then(r => r.text()).then(t => document.getElementById('result').textContent = t);
                    event.preventDefault();
                });

            });
        </script>
    </head>
    <body>
        <h1>Upload a file</h1>

        <p>Code: <span style="font-family: monospace; font-weight: bolder;" id="result">-</span></p>

        <form id="fileUpload">
            <p>File: <input id="file" type="file" name="file"/>
                <input type="submit" value="upload"/>
        </form>

        <h1>Upload text</h1>
        <form id="formUpload">
            <textarea id="text" spellcheck="false" rows="12"
                      style="font-family:monospace; width: 100%; box-sizing: border-box;"></textarea>
                      <p><input type="submit" value="upload"/></p>
        </form>
        
        <h1>Using curl</h1>
        
        <pre>curl --data 'a string' https://mwtj.com/
curl --data @someFile https://mwtj.com/
curl --data-binary @somefile https://mwtj.com/
        </pre>
        
        <h1>Get the result</h1>
        
        <pre>https://mwtj.com/123456</pre>
        
    </body>
</html>
